ENV_HOST_STAGING=https://<staging-host>
ENV_HOST_PROD=https://<prod-host>
QUOTE_JOB_ID=4293b1b8-49fa-4d91-ae67-b584189ef85d
FQL_HOTFIX_SUCCESS_PAGE=on
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
TEST_AUTH_EMAIL=
TEST_AUTH_PASSWORD=
TEST_ORG_ID=
DISCORD_WEBHOOK_URL=
